.account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.account-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    width: 100%;
}

.account-info-container {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.account-info-container h2 {
    margin-bottom: 1rem;
}

.form-container {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.new-snippet-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new-snippet-form input,
.new-snippet-form select,
.new-snippet-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 1rem;
    resize: none;
}

.new-snippet-form-check {
    height: 40px;
    border-radius: 20px;
}

.text-area-code {
    height: 200px;
    resize: vertical;
    color: var(--clr);
}

.form-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.submit-btn {
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.message {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}