body {
    margin: 0;
    background: linear-gradient(to right, indigo, lightblue, blue );
}

button {
    transition: 0.6s ease-out;
    padding: 10px 1rem;
    background: transparent;
    font-family: "Fira code";
    border-radius: 10px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

button:active {
    transform: translateY(5px);
}


