.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snippet-box {
    color: var(--text);
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 3px var(--clr);
    width: 800px;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.description {
    font-size: 1.4rem;
}

.creator {
    font-size: 1.3rem;
}

.code-block {
    display: flex;
    flex-direction: column;
    color: var(--clr);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    font-size: 1.3rem;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 1px 4px 5px #777;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.9rem;
}

.icon {
    height: 30px;
}

.return-link {
    text-decoration: none;
    padding: 1rem;
    border: 2px solid #333;
    border-radius: 10px;
    width: fit-content;
    transition: 0.6s ease-out;
    color: #000;
    font-size: 1.3rem;
}

.return-link:hover {
    background: #99999989;
}