.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snippet-box {
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-color: #333;

    /* Dark background */
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;

    /* Linear Gradient Border */
    border: 10px solid transparent;
    border-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB) 1;
    border-radius: 20px;
}

.copy-code-button {
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: transparent;
    border: none;

}

.description {
    font-size: 1.4rem;
}

.creator {
    font-size: 1.3rem;
}

.code-block {
    border: 10px solid transparent;
    border-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB) 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: var(--clr);
    justify-content: flex-start;

    padding: 1.5rem;
    font-size: 1.3rem;
    background-color: var(--bg);
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.9rem;
}

.code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 30px;
}

.return-link {
    text-decoration: none;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 10px;
    width: fit-content;
    transition: 0.6s ease-out;
    color: #fff;
    font-size: 1.3rem;
}

.return-link:hover {
    background: #c8c8c858;
}

.snippet-card-like-container {
    align-items: center;
    margin: 5px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.like-btn {
    padding: 0;
    margin: 0;
    width: fit-content;
    background: transparent;

}