@import "tailwindcss";

* {
  
    font-family: inter ,roboto, monospace;
    font-weight: 700;

}

body {
    background: linear-gradient(to right, var(--color-indigo-500), var(--color-indigo-700));
    color: var(--color-gray-700);
}